.container {
    margin: 100px auto;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #ffb6c1, #ffdac1, #e0c3fc);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.btn-orange {
    background-color: orange;
    color: #FFF;
    border: 1px solid orange; /* Add border */
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-orange:hover {
    background-color: #FF6347;
    color: #FFF;
}

.card-header {
    background: linear-gradient(135deg, #ffb6c1, #ffdac1, #e0c3fc); /* Gradient background */
    color: #000000;
}

.card-body {
    background-color: #FDE49E;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
}
