<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/header.css" />
    <link rel="stylesheet" href="./static/css/my_images.css" />
    <title>Generated Images</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="/">AI Storybook Generation Website</a></div>
            <ul class="links">
                {% if current_user.is_authenticated %}
                    <li><a href="my_images">圖片</a></li>
                    <li><a href="my_video">影片</a></li>
                    <li><a href="about">關於</a></li>
                    <li><a href="{{ url_for('logout')}}" class="action_btn">登出</a></li>
                    <li><a href="generate" class="action_btn">創作</a></li>
                    <span class="user_name">{{ current_user.username }}</span>
                {% else %}
                    <li><a href="register">註冊</a></li>
                    <li><a href="login">登入</a></li>
                    <li><a href="about">關於</a></li>
                    <li><a href="login" class="action_btn">創作</a></li>
                {% endif %}
            </ul>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    
        <div class="dropdown_menu">
            {% if current_user.is_authenticated %}
                <li><a href="my_images">圖片</a></li>
                <li><a href="my_video">影片</a></li>
                <li><a href="about">關於</a></li>
                <li><a href="{{ url_for('logout')}}" class="action_btn">登出</a></li>
                <li><a href="generate" class="action_btn">創作</a></li>
                <span class="user_name">{{ current_user.username }}</span>
            {% else %}
                <li><a href="register">註冊</a></li>
                <li><a href="login">登入</a></li>
                <li><a href="about">關於</a></li>
                <li><a href="login" class="action_btn">創作</a></li>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <h1 class="text-center">Your Images</h1>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <img src="{{ url_for('get_user_image', user_id=current_user.id, filename=image.file_path.split('/')[-1]) }}" class="img-fluid mb-3" alt="Image">
                    <p>{{ image.script }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="./static/js/navbar.js"></script>    
</body>
</html>
